{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center align-items-center " style="height:800px;">
  <div class="col faded_bg text-center" style="background:rgba(236, 220, 220, 0.151)">

    <h1 class="title_home">Flask Market</h1>

    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.
    </p>
    <a href="#" class="card-link">Go to market</a>
    <a href="#" class="card-link">Get Started</a>
  </div>
</div>

{% endblock %}