{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center align-items-center " style="height:800px;">
  <div class="col faded_bg text-center" style="background:rgba(236, 220, 220, 0.151)">

    <h1 class="title_home">Flask Market</h1>

    <p class="card-text incentive">
      This is the place that you can trust! We provide the best service around the globe!
      Do not hesitate to be our client!
    </p>
    <a href="{{ url_for('market_page') }}" class="btn btn_home">Go to Market</a>
    <a href="{{ url_for('register_page') }}" class="btn btn_home">Get Started</a>
  </div>
</div>

{% endblock %}